body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/Assets/images/bgc.avif);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #a1c5fa;
}

#game-board {
  height: 100vmin;
  width: 100vmin;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
}
#game-board > div:hover {
  border: solid #ffffff 1px;
  cursor: pointer;
}

.board {
}

.tools {
  background: burlywood;
  height: 100vmin;
  width: 30vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.active-tool {
  border: 5px solid darkblue;
}

.active-item {
  border: 5px solid darkblue;
}

.mini-btn-wrap {
  display: flex;
  flex-direction: column;
}

.dirtblock {
  background: url(/Assets/images/dirtblock.jpg) no-repeat center center/cover;
}

.removeddirt {
}

.grassblock {
  background: url(/Assets/images/grassblock.jpg) no-repeat center center/cover;
}

.removedgrass {
}

.stone {
  background: url(/Assets/images/MossyStoneBrick.jpg) no-repeat center center/cover;
}

.removedstone {
}

.plant {
  background: url(/Assets/images/plant.jpg) no-repeat center center/cover;
}

.removedplant {
}

.wood {
  background: url(/Assets/images/woodblock.jpg) no-repeat center center/cover;
}

.removedwood {
}

.nethergoldore {
  background: url(/Assets/images/nethergold.jpg) no-repeat center center/cover;
}

.removedgoldroe {
}

.tools > button {
  width: 120px;
  height: 120px;
  color: #ffffff;
  padding: 10px;
  margin-bottom: 50px;
  cursor: pointer;
}
.shovel-btn {
  background: url(/Assets/images/shovel.jpg) no-repeat center center/cover;
}
.axe-btn {
  background: url(/Assets/images/axe.png) no-repeat center center/cover;
}
.pickaxe-btn {
  background: url(/Assets/images/pickaxe.jpg) no-repeat center center/cover;
}

.inventory-btn,
.reset-btn {
  width: 60px;
  height: 60px;
  margin-bottom: 50px;
  padding: 3px 0px;
  cursor: pointer;
}

.inventory-btn,
.reset-btn > img {
  width: 50px;
  height: 50px;
}

.inventory-container1 {
  display: flex;
  gap: 5px;
}
.inventory-container2 {
  display: flex;
  gap: 5px;
}
.inventory-container3 {
  display: flex;
  gap: 5px;
}

.inventory-container1 > button {
  color: #ffffff;
}
.inventory-container2 > button {
  color: #ffffff;
}
.inventory-container3 > button {
  color: #ffffff;
}

.inventory-btn {
}
